/*
author: Thrive Creative Labs
date modified: November 15, 2018
type: reset css
*/
/* ----- Utility Classes ----- */
.redNote {
  padding: 5px;
  background-color: #cc0000;
  color: #FFFFFF;
  font-weight: bold; }

/* ----- Reset all CSS ----- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, caption, tbody, tfoot, thead {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit; }

/* ----- floats ----- */
.flt-right {
  float: right;
  margin: 0 0 0 15px; }

@media (max-width: 650px) {
  .flt-right {
    float: none;
    margin: 0; } }
.flt-left {
  float: left;
  margin: 0 15px 0 0; }

@media (max-width: 650px) {
  .flt-left {
    float: none;
    margin: 0; } }
.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px; }

/* ----- form styles ----- */
.grippie {
  display: none !important; }

.btn, input[type="submit"],
input[type="button"],
button,
.button,
[type="button"],
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  display: inline-block;
  color: #fff !important;
  background-color: #2ecc40;
  padding: 0.5em 1em;
  border-radius: 4px;
  font-weight: bold; }
  .btn:hover, input[type="submit"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover,
  [type="button"]:hover,
  .woocommerce #respond input#submit.alt:hover,
  .woocommerce a.button.alt:hover,
  .woocommerce button.button.alt:hover,
  .woocommerce input.button.alt:hover {
    background-color: #25a233;
    color: #fff; }
  .btn.btn-alt, input.btn-alt[type="submit"],
  input.btn-alt[type="button"],
  button.btn-alt,
  .button.btn-alt,
  [type="button"].btn-alt,
  .woocommerce #respond input#submit.alt.btn-alt,
  .woocommerce a.button.alt.btn-alt,
  .woocommerce button.button.alt.btn-alt,
  .woocommerce input.button.alt.btn-alt {
    background: #fff;
    color: #2ecc40 !important; }
    .btn.btn-alt:hover, input.btn-alt[type="submit"]:hover,
    input.btn-alt[type="button"]:hover,
    button.btn-alt:hover,
    .button.btn-alt:hover,
    [type="button"].btn-alt:hover,
    .woocommerce #respond input#submit.alt.btn-alt:hover,
    .woocommerce a.button.alt.btn-alt:hover,
    .woocommerce button.button.alt.btn-alt:hover,
    .woocommerce input.button.alt.btn-alt:hover {
      color: #25a233;
      background-color: #124f19; }

h1, h2, h3 {
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 1em; }

* ~ h1, * ~ h2, * ~ h3 {
  margin-top: 1em; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.35em; }

* + p,
* + li {
  margin-top: 1em; }

small {
  font-size: 0.75em; }

label {
  margin-bottom: 0.5em; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1em;
  border: 1px solid #ccc; }

textarea {
  font-family: sans-serif;
  padding: 1rem;
  resize: none; }

input[type="submit"],
input[type="button"],
button {
  border: 0;
  font-size: 1em; }

@media (max-width: 700px) {
  .header-menu {
    display: none; } }
.header-menu ul li.menu-item-has-children {
  position: relative; }
  .header-menu ul li.menu-item-has-children ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0; }
    .header-menu ul li.menu-item-has-children ul li {
      display: block;
      width: 15em; }
      .header-menu ul li.menu-item-has-children ul li a {
        display: block; }
  .header-menu ul li.menu-item-has-children:hover ul {
    display: block; }

.mobile-nav-btns,
.mobile-nav {
  display: none; }

.mobile-nav-btns {
  margin-top: 0;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 1.5em; }
  @media (max-width: 700px) {
    .mobile-nav-btns {
      display: block; } }

.mobile-nav {
  background: #f4f4f4; }
  .mobile-nav ul,
  .mobile-nav li {
    margin: 0;
    padding: 0; }
    .mobile-nav ul li + li,
    .mobile-nav li li + li {
      border-top: 1px solid #bcf0c2; }
    .mobile-nav ul li a,
    .mobile-nav li li a {
      display: block;
      padding: 0.5rem 0.5rem; }

/* CSS Document */
*, *:before, *:after {
  box-sizing: border-box; }

:root {
  font-size: 17px; }

html, body {
  overflow-x: hidden; }

body {
  color: #444;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 17px !important; }

a, a:visited {
  color: #2ecc40;
  text-decoration: none; }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #000; }

img {
  max-width: 100%;
  height: auto !important; }

.header-banner {
  background: #2ecc40;
  color: #fff;
  text-align: right;
  padding: 0.5rem; }
  @media (max-width: 410px) {
    .header-banner {
      text-align: center; } }
  .header-banner span {
    font-weight: bold;
    font-size: 0.8em; }
    @media (max-width: 410px) {
      .header-banner span {
        display: block; } }

.header-banner-social-menu {
  margin: 0 1em 0 0;
  padding: 0;
  list-style: none;
  display: inline-block; }
  @media (max-width: 410px) {
    .header-banner-social-menu {
      display: block;
      margin: 0 0 0.25rem 0; } }
  .header-banner-social-menu li {
    padding: 0;
    margin: 0 0.25em;
    list-style: none;
    display: inline-block; }
    .header-banner-social-menu li a {
      display: inline-block;
      color: #fff; }

.header-navigation {
  padding: 0 2rem;
  position: relative; }
  @media (max-width: 700px) {
    .header-navigation {
      margin-bottom: 4rem; } }
  .header-navigation .site-logo {
    display: block;
    padding: 2rem 1rem 0;
    text-align: center; }
    .header-navigation .site-logo.inside-menu {
      padding: 0; }
    .header-navigation .site-logo img {
      max-width: 300px; }
      @media (max-width: 520px) {
        .header-navigation .site-logo img {
          width: 50%;
          min-width: 220px; } }
  .header-navigation .header-menu {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem 1rem; }
    .header-navigation .header-menu ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center;
      padding: 0;
      margin: 0;
      list-style: none; }
      .header-navigation .header-menu ul li {
        padding: 0;
        margin: 0;
        list-style: none; }
        .header-navigation .header-menu ul li.header-menu-site-logo {
          margin: 0 2em; }
        .header-navigation .header-menu ul li a {
          font-size: 0.9em;
          font-weight: bold; }

.content-wrap {
  max-width: 1440px;
  margin: 0 auto; }

.not-front .content-wrap {
  padding: 3rem 1.5rem 0; }
  .not-front .content-wrap .content-area {
    max-width: 900px;
    margin: 0 auto; }
    .not-front .content-wrap .content-area.has-sidebar {
      width: 66%; }
  .not-front .content-wrap .sidebar-area {
    width: 33%;
    padding-left: 1.5rem; }

.footer-wrap-outer {
  background: #342e29 url(/wp-content/themes/ftgu/images/bkd-footer-wrap.jpg) no-repeat;
  background-size: 2600px;
  color: #fff;
  padding: 17rem 2rem 7rem; }
  @media (max-width: 770px) {
    .footer-wrap-outer {
      padding-top: 22rem;
      background-size: cover; } }
  @media (max-width: 620px) {
    .footer-wrap-outer {
      padding-bottom: 3rem; } }
  .footer-wrap-outer .footer-wrap {
    max-width: 1440px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center; }
    @media (max-width: 770px) {
      .footer-wrap-outer .footer-wrap {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
                justify-content: center; } }
    .footer-wrap-outer .footer-wrap .footer-section {
      max-width: 360px; }
      @media (max-width: 1010px) {
        .footer-wrap-outer .footer-wrap .footer-section {
          width: 33%;
          padding: 0 1.5rem; } }
      @media (max-width: 770px) {
        .footer-wrap-outer .footer-wrap .footer-section {
          width: 100%; } }
      @media (max-width: 770px) {
        .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect {
          width: 50%; } }
      @media (max-width: 620px) {
        .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect {
          width: 100%; } }
      .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect .footer-connect-address {
        margin: 2rem 0; }
      .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect .footer-connect-social .footer-social-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block; }
        .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect .footer-connect-social .footer-social-menu li {
          padding: 0;
          margin: 0 0.25em;
          list-style: none;
          display: inline-block; }
          .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect .footer-connect-social .footer-social-menu li + li {
            margin-left: 0.5rem; }
          .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect .footer-connect-social .footer-social-menu li a {
            display: inline-block;
            font-size: 1.47em; }
            .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect .footer-connect-social .footer-social-menu li a:hover {
              color: #fff; }
      .footer-wrap-outer .footer-wrap .footer-section.footer-contact {
        max-width: none;
        text-align: center;
        color: #ffdd00;
        font-size: 2.35em;
        font-weight: bold;
        line-height: 1.25; }
        @media (max-width: 770px) {
          .footer-wrap-outer .footer-wrap .footer-section.footer-contact {
            width: 50%; } }
        @media (max-width: 620px) {
          .footer-wrap-outer .footer-wrap .footer-section.footer-contact {
            width: 100%;
            margin-top: 3rem; } }
        .footer-wrap-outer .footer-wrap .footer-section.footer-contact p + p {
          margin-top: 0; }
      .footer-wrap-outer .footer-wrap .footer-section.footer-services {
        font-size: 0.88em;
        line-height: 1.25; }
        @media (max-width: 770px) {
          .footer-wrap-outer .footer-wrap .footer-section.footer-services {
            margin-top: 3rem; } }
        .footer-wrap-outer .footer-wrap .footer-section.footer-services h2 {
          font-size: 1rem;
          font-weight: bold; }
        .footer-wrap-outer .footer-wrap .footer-section.footer-services a:hover {
          color: #a8ebaf; }

/* CSS Document */
.feature-wrap {
  padding: 2rem;
  background: #2ecc40 url(/wp-content/themes/ftgu/images/bkd-feature-wrap.jpg) 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
  margin-top: 2rem; }
  .feature-wrap .feature-image {
    max-width: 1440px;
    margin: -4rem auto 0; }
    .feature-wrap .feature-image img {
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }

.testimonials-page-testimonials-listing {
  margin-bottom: 3rem; }
  .testimonials-page-testimonials-listing .testimonial-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center; }
    .testimonials-page-testimonials-listing .testimonial-item:nth-child(odd) {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      .testimonials-page-testimonials-listing .testimonial-item:nth-child(odd) .testimonial-item-pic + .testimonial-item-content {
        padding-right: 2rem;
        padding-left: 0; }
        @media (max-width: 600px) {
          .testimonials-page-testimonials-listing .testimonial-item:nth-child(odd) .testimonial-item-pic + .testimonial-item-content {
            padding: 0; } }
    .testimonials-page-testimonials-listing .testimonial-item + .testimonial-item {
      margin-top: 3rem;
      padding-top: 3rem;
      border-top: 1px solid #eee; }
    .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-pic {
      width: 25%;
      line-height: 0; }
      @media (max-width: 600px) {
        .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-pic {
          width: 100%;
          text-align: center;
          margin-bottom: 1rem; }
          .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-pic + .testimonial-item-content {
            padding-left: 0 !important; } }
      .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-pic + .testimonial-item-content {
        padding-left: 2rem; }
    .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-content {
      width: 75%; }
      @media (max-width: 600px) {
        .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-content {
          width: 100%; } }
      .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-content .testimonial-item-testimonial {
        font-style: italic; }
      .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-content .testimonial-item-author,
      .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-content .testimonial-item-date {
        text-align: right; }
      .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-content .testimonial-item-author {
        font-size: 1.125em;
        font-weight: bold; }
      .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-content .testimonial-item-date {
        margin-top: 0; }

.blog .blog-listing {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch; }
  .blog .blog-listing h1 {
    width: 100%;
    margin-bottom: 0; }
  .blog .blog-listing .blog-item {
    width: calc( 50% - 1rem );
    padding: 1rem; }
    .blog .blog-listing .blog-item .blog-item-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
              flex-direction: column;
      -webkit-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
              justify-content: space-between;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
              align-items: stretch;
      height: 100%; }

/*# sourceMappingURL=all.css.map */