@charset "UTF-8";
/*
author: Thrive Creative Labs
date modified: November 15, 2018
type: reset css
*/
/* ----- Utility Classes ----- */
.redNote {
  padding: 5px;
  background-color: #cc0000;
  color: #FFFFFF;
  font-weight: bold; }

/* ----- Reset all CSS ----- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, caption, tbody, tfoot, thead {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit; }

/* ----- floats ----- */
.flt-right {
  float: right;
  margin: 0 0 1.5rem 1rem; }

@media (max-width: 650px) {
  .flt-right {
    float: none;
    margin: 0; } }
.flt-left {
  float: left;
  margin: 0 1.5rem 1rem 0; }

@media (max-width: 650px) {
  .flt-left {
    float: none;
    margin: 0; } }
.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px; }

/* ----- form styles ----- */
.grippie {
  display: none !important; }

.btn, input[type="submit"],
input[type="button"],
button,
.button,
[type="button"],
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.nf-form-content input[type="button"] {
  display: inline-block;
  color: #fff !important;
  background-color: #62bb46 !important;
  padding: 0.5em 1em;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer; }
  .btn:hover, input[type="submit"]:hover,
  input[type="button"]:hover,
  button:hover,
  .button:hover,
  [type="button"]:hover,
  .woocommerce #respond input#submit.alt:hover,
  .woocommerce a.button.alt:hover,
  .woocommerce button.button.alt:hover,
  .woocommerce input.button.alt:hover,
  .nf-form-content input[type="button"]:hover {
    background-color: #4e9737 !important;
    background-color: #ffdd00 !important;
    color: #fff; }
  .btn.btn-alt, input.btn-alt[type="submit"],
  input.btn-alt[type="button"],
  button.btn-alt,
  .button.btn-alt,
  [type="button"].btn-alt,
  .woocommerce #respond input#submit.alt.btn-alt,
  .woocommerce a.button.alt.btn-alt,
  .woocommerce button.button.alt.btn-alt,
  .woocommerce input.button.alt.btn-alt,
  .nf-form-content input[type="button"].btn-alt {
    background: #fff !important;
    color: #62bb46 !important; }
    .btn.btn-alt:hover, input.btn-alt[type="submit"]:hover,
    input.btn-alt[type="button"]:hover,
    button.btn-alt:hover,
    .button.btn-alt:hover,
    [type="button"].btn-alt:hover,
    .woocommerce #respond input#submit.alt.btn-alt:hover,
    .woocommerce a.button.alt.btn-alt:hover,
    .woocommerce button.button.alt.btn-alt:hover,
    .woocommerce input.button.alt.btn-alt:hover,
    .nf-form-content input[type="button"].btn-alt:hover {
      color: #3b712a !important;
      background-color: #274c1c;
      background-color: #ffdd00 !important; }

/* CSS Document */
h1, h2, h3 {
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1em;
  color: #3b712a; }

* ~ h1, * ~ h2, * ~ h3 {
  margin-top: 1em; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.35em; }

* + p,
* + li {
  margin-top: 1em; }

small {
  font-size: 0.75em; }

label {
  margin-bottom: 0.5em; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1em;
  border: 1px solid #eee !important;
  background: none !important;
  box-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.05) !important; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
textarea {
  background: #fff !important; }

textarea {
  font-family: sans-serif;
  padding: 1rem;
  resize: none; }

input[type="submit"],
input[type="button"],
button {
  border: 0;
  font-size: 1em; }

.nf-form-fields-required {
  display: none !important; }

.listcheckbox-wrap li:before,
.listradio-wrap li:before {
  display: none; }

.checkbox-wrap .nf-field-element label.nf-checked-label:before, .checkbox-wrap .nf-field-label label.nf-checked-label:before, .listcheckbox-wrap .nf-field-element label.nf-checked-label:before, .listcheckbox-wrap .nf-field-label label.nf-checked-label:before {
  color: #3b712a !important;
  color: #62bb46 !important; }

.listradio-wrap .nf-field-element label.nf-checked-label:after {
  border-color: #3b712a !important;
  border-color: #62bb46 !important; }

.listradio-wrap .nf-field-element label.nf-checked-label:before {
  background: #3b712a !important;
  background: #62bb46 !important; }

@media (max-width: 700px) {
  .header-menu {
    display: none; } }
.header-menu ul li a {
  padding: 0.5rem 0.75rem;
  border-radius: 5px; }
.header-menu ul li:hover a {
  background: #62bb46;
  color: #fff; }
.header-menu ul li.header-menu-site-logo:hover a {
  background: none; }
.header-menu ul li.current-menu-item > a {
  border-bottom: 5px solid #3b712a;
  color: #3b712a;
  border-radius: 0 !important; }
.header-menu ul li.menu-item-has-children {
  position: relative; }
  .header-menu ul li.menu-item-has-children > a {
    border-radius: 5px 5px 0 0; }
  .header-menu ul li.menu-item-has-children ul {
    display: none;
    position: absolute;
    top: 100%;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    left: 0; }
    .header-menu ul li.menu-item-has-children ul li {
      display: block;
      width: 15em; }
      .header-menu ul li.menu-item-has-children ul li.header-menu-site-logo {
        display: none; }
      .header-menu ul li.menu-item-has-children ul li.current-menu-item > a {
        background: #3b712a;
        border-bottom: 5px;
        color: #fff; }
      .header-menu ul li.menu-item-has-children ul li:first-of-type a {
        border-radius: 0 5px 0 0; }
      .header-menu ul li.menu-item-has-children ul li:last-of-type a {
        border-radius: 0 0 5px 5px; }
      .header-menu ul li.menu-item-has-children ul li a {
        display: block;
        background: #62bb46;
        color: #fff;
        padding: 0.5rem;
        border-radius: 0; }
        .header-menu ul li.menu-item-has-children ul li a:hover {
          background: #ffdd00; }
  .header-menu ul li.menu-item-has-children:hover ul {
    display: block; }

.mobile-nav-btns,
.mobile-nav {
  display: none; }

.mobile-nav-btns {
  margin-top: 0;
  top: 0.5rem;
  right: 2rem;
  font-size: 1.5em; }
  @media (max-width: 700px) {
    .mobile-nav-btns {
      display: block;
      position: absolute;
      top: 50%;
      right: 2rem;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); } }

.mobile-nav ul,
.mobile-nav li {
  margin: 0;
  padding: 0; }
  .mobile-nav ul li,
  .mobile-nav li li {
    border-bottom: 1px solid #d1ebc9; }
    .mobile-nav ul li a,
    .mobile-nav li li a {
      display: block;
      padding: 0.5rem 0.5rem; }

/* CSS Document */
*,
*:before,
*:after {
  box-sizing: border-box; }

:root {
  font-size: 17px; }

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth; }

body {
  color: #444;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 17px !important; }

a,
a:visited {
  color: #62bb46;
  text-decoration: none; }
  a:hover, a:focus,
  a:visited:hover,
  a:visited:focus {
    color: #ffdd00; }

img {
  max-width: 100%;
  height: auto !important; }

hr {
  border: 0;
  border-top: 2px solid #eee;
  height: 0;
  margin: 2.5rem 0 2rem;
  clear: both;
  position: relative; }

.header-banner {
  background: #62bb46;
  color: #fff;
  text-align: right;
  padding: 0.5rem; }
  .header-banner a:hover {
    color: #ffdd00; }
  @media (max-width: 410px) {
    .header-banner {
      text-align: center; } }
  .header-banner span {
    font-weight: bold;
    font-size: 0.8em; }
    @media (max-width: 410px) {
      .header-banner span {
        display: block; } }

.header-banner-social-menu {
  margin: 0 1em 0 0;
  padding: 0;
  list-style: none;
  display: inline-block; }
  @media (max-width: 410px) {
    .header-banner-social-menu {
      display: block;
      margin: 0 0 0.25rem 0; } }
  .header-banner-social-menu li {
    padding: 0;
    margin: 0 0.25em;
    list-style: none;
    display: inline-block; }
    .header-banner-social-menu li a {
      display: inline-block;
      color: #fff; }

.header-navigation {
  padding: 0 2rem;
  position: relative; }
  @media (max-width: 700px) {
    .header-navigation {
      padding: 1.5rem 2rem;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      flex-wrap: wrap;
      -webkit-box-pack: center;
              justify-content: center;
      -webkit-box-align: center;
              align-items: center; } }
  .header-navigation .site-logo {
    display: block;
    padding: 2rem 1rem 0;
    text-align: center;
    line-height: 0; }
    @media (max-width: 700px) {
      .header-navigation .site-logo {
        padding: 0;
        width: 100%;
        max-width: 260px; } }
    .header-navigation .site-logo.inside-menu {
      padding: 0; }
    .header-navigation .site-logo img {
      max-width: 300px; }
      @media (max-width: 520px) {
        .header-navigation .site-logo img {
          width: 50%;
          min-width: 200px; } }
  .header-navigation .header-menu {
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem 1rem; }
    .header-navigation .header-menu ul {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
              align-items: center;
      padding: 0;
      margin: 0;
      list-style: none; }
      .header-navigation .header-menu ul li {
        padding: 0;
        margin: 0;
        list-style: none; }
        .header-navigation .header-menu ul li.header-menu-site-logo {
          margin: 0 2em;
          width: 100%;
          max-width: 260px; }
        .header-navigation .header-menu ul li a {
          font-size: 0.9em;
          font-weight: bold; }

.content-wrap {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start; }

.not-front .content-wrap {
  padding: 3rem 1.5rem 0; }
  .not-front .content-wrap .content-area {
    max-width: 900px;
    margin: 0 auto; }
    .not-front .content-wrap .content-area.has-sidebar {
      width: 66%; }
      @media (max-width: 800px) {
        .not-front .content-wrap .content-area.has-sidebar {
          width: 100%; } }
  .not-front .content-wrap .sidebar-area {
    width: 33%;
    padding-left: 1.5rem; }
    @media (max-width: 800px) {
      .not-front .content-wrap .sidebar-area {
        width: 100%;
        padding-left: 0;
        margin-top: 2rem; } }

.footer-wrap-outer {
  background: #342e29 url(/wp-content/themes/ftgu/images/bkd-footer-wrap.jpg) repeat-x;
  color: #fff;
  padding: 12rem 2rem 5rem; }
  @media (max-width: 620px) {
    .footer-wrap-outer {
      padding-bottom: 3rem; } }
  .footer-wrap-outer .footer-wrap {
    max-width: 1440px;
    margin: 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center; }
    @media (max-width: 770px) {
      .footer-wrap-outer .footer-wrap {
        -webkit-box-pack: center;
                justify-content: center; } }
    .footer-wrap-outer .footer-wrap .footer-section {
      max-width: 360px; }
      @media (max-width: 1010px) {
        .footer-wrap-outer .footer-wrap .footer-section {
          width: 33%;
          padding: 0 1.5rem; } }
      @media (max-width: 770px) {
        .footer-wrap-outer .footer-wrap .footer-section {
          width: 100%; } }
      @media (max-width: 770px) {
        .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect {
          width: 50%; } }
      @media (max-width: 620px) {
        .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect {
          width: 100%; } }
      .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect .footer-connect-address {
        margin: 2rem 0; }
      .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect .footer-connect-social .footer-social-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block; }
        .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect .footer-connect-social .footer-social-menu li {
          padding: 0;
          margin: 0 0.25em;
          list-style: none;
          display: inline-block; }
          .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect .footer-connect-social .footer-social-menu li + li {
            margin-left: 0.5rem; }
          .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect .footer-connect-social .footer-social-menu li a {
            display: inline-block;
            font-size: 1.47em; }
            .footer-wrap-outer .footer-wrap .footer-section.footer-logo-connect .footer-connect-social .footer-social-menu li a:hover {
              color: #fff; }
      .footer-wrap-outer .footer-wrap .footer-section.footer-contact {
        max-width: none;
        text-align: center;
        color: #ffdd00;
        font-size: 2.35em;
        font-weight: bold;
        line-height: 1.25; }
        @media (max-width: 770px) {
          .footer-wrap-outer .footer-wrap .footer-section.footer-contact {
            width: 50%; } }
        @media (max-width: 620px) {
          .footer-wrap-outer .footer-wrap .footer-section.footer-contact {
            width: 100%;
            margin-top: 3rem; } }
        .footer-wrap-outer .footer-wrap .footer-section.footer-contact p + p {
          margin-top: 0; }
      .footer-wrap-outer .footer-wrap .footer-section.footer-services {
        font-size: 0.88em;
        line-height: 1.25; }
        @media (max-width: 770px) {
          .footer-wrap-outer .footer-wrap .footer-section.footer-services {
            margin-top: 3rem; } }
        .footer-wrap-outer .footer-wrap .footer-section.footer-services h2 {
          font-size: 1rem;
          font-weight: bold;
          color: #fff; }
        .footer-wrap-outer .footer-wrap .footer-section.footer-services a {
          display: block; }
          .footer-wrap-outer .footer-wrap .footer-section.footer-services a:hover {
            color: #ffdd00; }
          .footer-wrap-outer .footer-wrap .footer-section.footer-services a + a {
            margin-top: 0.75rem; }

.not-front .footer-wrap-outer {
  margin-top: 3rem; }

/* CSS Document */
.feature-wrap {
  padding: 2rem;
  background: #62bb46 url(/wp-content/themes/ftgu/images/bkd-feature-wrap.jpg) 50% 50% no-repeat;
  background-size: cover;
  color: #fff;
  margin-top: 2rem; }
  .feature-wrap .feature-image {
    max-width: 1440px;
    margin: -4rem auto 0;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
    line-height: 0; }
    .feature-wrap .feature-image.page-featured-image, .feature-wrap .feature-image.blog-featured-image {
      padding-top: 300px;
      background-position: 50% 50%;
      background-size: cover !important; }
      @media (max-width: 1440px) {
        .feature-wrap .feature-image.page-featured-image, .feature-wrap .feature-image.blog-featured-image {
          padding-top: 22%; } }

.cities-serviced-block > h2 {
  display: none; }

/* ----- UL, LI STYLES ----- */
.content-area ul,
.content-area ul li {
  list-style: none;
  padding: 0;
  margin: 0; }
.content-area ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: start;
          align-items: flex-start; }
  .content-area ul li {
    width: 33%;
    padding: 0.5rem 1rem;
    position: relative; }
    .content-area ul li:before {
      content: '\f0da';
      font-weight: 900;
      font-family: "Font Awesome 5 Free";
      position: absolute;
      left: 0;
      top: 0.5rem;
      color: #3b712a; }
.content-area ol {
  padding-left: 2rem; }

/* ----- COLUMN WIDTHS ----- */
.column-1-3 {
  width: 60%; }
  @media (max-width: 650px) {
    .column-1-3 {
      width: 100%; } }

/* --------------------------------------------- SB BLOCKS -- */
.sb-block + .sb-block {
  margin-top: 2rem; }

/* ----- FULL WIDTH IMAGES ----- */
.full-width-image-blog {
  width: 85%;
  display: inline-block; }

* + .full-width-image-blog {
  margin: 2rem 0 0; }

/* --------------------------------------------- LIGHTBOX GALLERIES -- */
/* ----- LIGHTBOX OVERLAY ----- */
#swipebox-overlay .tos-caption,
.tos-desktop .tos-wrapper.tos-fixed .tos-caption {
  display: none; }
#swipebox-overlay .tos-close,
#swipebox-overlay .tos-prev,
#swipebox-overlay .tos-next,
.tos-desktop .tos-wrapper.tos-fixed .tos-close,
.tos-desktop .tos-wrapper.tos-fixed .tos-prev,
.tos-desktop .tos-wrapper.tos-fixed .tos-next {
  background: none;
  height: 4rem;
  margin: 0;
  width: 4rem;
  color: #4e9737;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }
  #swipebox-overlay .tos-close:after,
  #swipebox-overlay .tos-prev:after,
  #swipebox-overlay .tos-next:after,
  .tos-desktop .tos-wrapper.tos-fixed .tos-close:after,
  .tos-desktop .tos-wrapper.tos-fixed .tos-prev:after,
  .tos-desktop .tos-wrapper.tos-fixed .tos-next:after {
    content: '\f00d';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 5em; }
  #swipebox-overlay .tos-close span,
  #swipebox-overlay .tos-prev span,
  #swipebox-overlay .tos-next span,
  .tos-desktop .tos-wrapper.tos-fixed .tos-close span,
  .tos-desktop .tos-wrapper.tos-fixed .tos-prev span,
  .tos-desktop .tos-wrapper.tos-fixed .tos-next span {
    width: auto;
    height: auto;
    border: none; }
#swipebox-overlay .tos-close,
.tos-desktop .tos-wrapper.tos-fixed .tos-close {
  top: 2.5rem; }
  #swipebox-overlay .tos-close:after,
  .tos-desktop .tos-wrapper.tos-fixed .tos-close:after {
    font-size: 4em; }
#swipebox-overlay .tos-prev,
#swipebox-overlay .tos-next,
.tos-desktop .tos-wrapper.tos-fixed .tos-prev,
.tos-desktop .tos-wrapper.tos-fixed .tos-next {
  top: 50%; }
  #swipebox-overlay .tos-prev:after,
  #swipebox-overlay .tos-next:after,
  .tos-desktop .tos-wrapper.tos-fixed .tos-prev:after,
  .tos-desktop .tos-wrapper.tos-fixed .tos-next:after {
    content: '\f104'; }
#swipebox-overlay .tos-next:after,
.tos-desktop .tos-wrapper.tos-fixed .tos-next:after {
  content: '\f105'; }

/* --------------------------------------------- SUB PAGES HEADERS (IF PAGES HAS FEATURED IMAGE) -- */
.testimonials-page-testimonials-listing .testimonial-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center; }
  .testimonials-page-testimonials-listing .testimonial-item:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse; }
    .testimonials-page-testimonials-listing .testimonial-item:nth-child(odd) .testimonial-item-pic + .testimonial-item-content {
      padding-right: 2rem;
      padding-left: 0; }
      @media (max-width: 600px) {
        .testimonials-page-testimonials-listing .testimonial-item:nth-child(odd) .testimonial-item-pic + .testimonial-item-content {
          padding: 0; } }
  .testimonials-page-testimonials-listing .testimonial-item + .testimonial-item {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid #eee; }
  .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-pic {
    width: 25%;
    line-height: 0; }
    @media (max-width: 600px) {
      .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-pic {
        width: 100%;
        text-align: center;
        margin-bottom: 1rem; }
        .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-pic + .testimonial-item-content {
          padding-left: 0 !important; } }
    .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-pic + .testimonial-item-content {
      padding-left: 2rem; }
  .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-content {
    width: 75%; }
    @media (max-width: 600px) {
      .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-content {
        width: 100%; } }
    .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-content .testimonial-item-testimonial {
      font-style: italic; }
    .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-content .testimonial-item-author,
    .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-content .testimonial-item-date {
      text-align: right; }
    .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-content .testimonial-item-author {
      font-size: 1.125em;
      font-weight: bold; }
    .testimonials-page-testimonials-listing .testimonial-item .testimonial-item-content .testimonial-item-date {
      margin-top: 0; }

.content-bottom > h2 {
  display: none; }

#nf-form-1-cont,
#nf-form-2-cont {
  margin-top: 2rem; }

.contact-info {
  margin-top: 3rem;
  padding: 2rem;
  background: #fafafa;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
          align-items: flex-start; }
  .contact-info .contact-info-address,
  .contact-info .contact-info-phone {
    width: 50%;
    padding: 0 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
            align-items: center; }
    @media (max-width: 700px) {
      .contact-info .contact-info-address,
      .contact-info .contact-info-phone {
        width: 100% !important; } }
    .contact-info .contact-info-address h2,
    .contact-info .contact-info-phone h2 {
      width: 100%; }
      .contact-info .contact-info-address h2 + p,
      .contact-info .contact-info-phone h2 + p {
        margin-top: 0; }
    .contact-info .contact-info-address p,
    .contact-info .contact-info-phone p {
      position: relative;
      font-size: 1.15em;
      color: #666; }
      .contact-info .contact-info-address p i,
      .contact-info .contact-info-phone p i {
        font-size: 2em;
        margin-right: 1rem;
        color: #1b7926; }
  @media (max-width: 860px) {
    .contact-info .contact-info-address {
      width: 65%; } }
  @media (max-width: 860px) {
    .contact-info .contact-info-phone {
      width: 35%; } }
  @media (max-width: 700px) {
    .contact-info .contact-info-phone {
      margin-top: 2rem; } }
  .contact-info .contact-info-address p {
    padding-left: 3.5rem; }
    .contact-info .contact-info-address p i {
      position: absolute;
      top: 50%;
      left: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  @media (max-width: 650px) {
    .contact-info .contact-info-phone {
      margin-top: 1rem; } }

.faq-container .faq-section + .faq-section {
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 2px solid #f7f7f7; }
.faq-container .faq-section .faq-question {
  font-weight: bold;
  font-size: 1.25em;
  color: #3b712a; }
.faq-container .faq-section .faq-answer + .faq-question {
  margin-top: 2rem; }

.page-id-1105 .content-area {
  max-width: 1120px !important; }
  .page-id-1105 .content-area .about-us-split-content-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
            align-items: stretch; }
    @media (max-width: 760px) {
      .page-id-1105 .content-area .about-us-split-content-container .about-us-section {
        width: 100% !important; } }
    .page-id-1105 .content-area .about-us-split-content-container .about-us-section.left {
      padding-right: 2rem;
      width: 60%; }
    .page-id-1105 .content-area .about-us-split-content-container .about-us-section.right {
      width: 40%;
      padding: 2rem;
      background: #fafafa;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }
      @media (max-width: 760px) {
        .page-id-1105 .content-area .about-us-split-content-container .about-us-section.right {
          margin-top: 2rem; } }
      .page-id-1105 .content-area .about-us-split-content-container .about-us-section.right ul {
        display: block; }
        .page-id-1105 .content-area .about-us-split-content-container .about-us-section.right ul li {
          width: auto; }
  .page-id-1105 .content-area .about-us-partners-section {
    max-width: 900px !important;
    margin: 2rem auto 0; }

.subpage-surfaces {
  margin-top: 3rem; }
  .subpage-surfaces .surfaces-landing-listing {
    margin-top: 0; }

.surfaces-landing-listing {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
          align-items: stretch;
  margin-top: 3rem; }
  .surfaces-landing-listing .surface {
    width: calc( 50% - 1rem );
    margin: 0.25rem;
    position: relative;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    @media (max-width: 560px) {
      .surfaces-landing-listing .surface {
        width: 100%;
        margin: 0; }
        .surfaces-landing-listing .surface + .surface {
          margin-top: 1rem; } }
    .surfaces-landing-listing .surface:after, .surfaces-landing-listing .surface:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%; }
    .surfaces-landing-listing .surface:after {
      background: #2ecc40;
      background: -webkit-linear-gradient(left, rgba(46, 204, 64, 0.92061) 0%, rgba(46, 204, 64, 0.80016) 35%, rgba(255, 221, 0, 0.44442) 100%);
      background: -webkit-gradient(linear, left top, right top, from(rgba(46, 204, 64, 0.92061)), color-stop(35%, rgba(46, 204, 64, 0.80016)), to(rgba(255, 221, 0, 0.44442)));
      background: linear-gradient(to right, rgba(46, 204, 64, 0.92061) 0%, rgba(46, 204, 64, 0.80016) 35%, rgba(255, 221, 0, 0.44442) 100%);
      z-index: 1;
      opacity: 0.75; }
    .surfaces-landing-listing .surface:before {
      background: #000;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      z-index: 2;
      opacity: 0.25; }
    .surfaces-landing-listing .surface:hover {
      -webkit-transform: scale(1.075);
              transform: scale(1.075);
      z-index: 4; }
      .surfaces-landing-listing .surface:hover:before {
        opacity: 0; }
      .surfaces-landing-listing .surface:hover:after {
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiNjY2IxMDAiLz48c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2NjYjEwMCIgc3RvcC1vcGFjaXR5PSIwLjUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
        background-size: 100%;
        background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(30%, #ccb100), color-stop(75%, rgba(204, 177, 0, 0.5)));
        background-image: -webkit-linear-gradient(bottom, #ccb100 30%, rgba(204, 177, 0, 0.5) 75%);
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(30%, #ccb100), color-stop(75%, rgba(204, 177, 0, 0.5)));
        background-image: linear-gradient(to top, #ccb100 30%, rgba(204, 177, 0, 0.5) 75%); }
      .surfaces-landing-listing .surface:hover .surface-content .surface-name {
        top: 35%; }
      .surfaces-landing-listing .surface:hover .surface-content .surface-description {
        top: 43%;
        opacity: 1 !important; }
    .surfaces-landing-listing .surface.pets .surface-photo {
      background-position: 90% 50%; }
    .surfaces-landing-listing .surface .surface-link-container {
      line-height: 0;
      margin: 0; }
      .surfaces-landing-listing .surface .surface-link-container .surface-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 6; }
    .surfaces-landing-listing .surface .surface-photo {
      line-height: 0;
      width: 100%;
      height: 0;
      padding-top: 60%;
      background-size: cover; }
      .surfaces-landing-listing .surface .surface-photo img {
        width: 100%;
        max-width: none; }
    .surfaces-landing-listing .surface .surface-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: #fff;
      text-shadow: 2px 2px 7px rgba(4, 4, 4, 0.75);
      z-index: 3;
      text-align: center; }
      .surfaces-landing-listing .surface .surface-content .surface-description {
        font-weight: 100;
        opacity: 0;
        position: absolute;
        top: 55%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        margin: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      .surfaces-landing-listing .surface .surface-content p {
        margin: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s; }
        .surfaces-landing-listing .surface .surface-content p.surface-name {
          font-size: 1.35em;
          font-weight: bold;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }

.surface-contact-section,
.section-contact .nf-form-cont {
  background: #62bb46 url(/wp-content/themes/ftgu/images/bkd-feature-wrap.jpg) 50% 50% no-repeat;
  background-size: cover;
  background: #005336;
  margin-left: calc(-100vw / 2 + 1120px / 2);
  margin-right: calc(-100vw / 2 + 1120px / 2);
  padding: 2rem 1.5rem;
  color: #fff; }
  @media (max-width: 1200px) {
    .surface-contact-section,
    .section-contact .nf-form-cont {
      margin-left: calc(-100vw / 2 + 100% / 2);
      margin-right: calc(-100vw / 2 + 100% / 2); } }
  .surface-contact-section h2,
  .surface-contact-section .nf-form-content,
  .surface-contact-section .nf-after-form-content,
  .section-contact .nf-form-cont h2,
  .section-contact .nf-form-cont .nf-form-content,
  .section-contact .nf-form-cont .nf-after-form-content {
    max-width: 1120px;
    margin: auto; }
  .surface-contact-section h2,
  .section-contact .nf-form-cont h2 {
    color: #fff; }
  .surface-contact-section .nf-error-msg, .surface-contact-section .ninja-forms-req-symbol,
  .section-contact .nf-form-cont .nf-error-msg,
  .section-contact .nf-form-cont .ninja-forms-req-symbol {
    color: #ff5555 !important; }
  .surface-contact-section .nf-error.field-wrap .nf-field-element:after,
  .section-contact .nf-form-cont .nf-error.field-wrap .nf-field-element:after {
    background: #ff5555 !important; }
  .surface-contact-section .nf-error .ninja-forms-field,
  .section-contact .nf-form-cont .nf-error .ninja-forms-field {
    border-color: #ff5555 !important; }
  .surface-contact-section .nf-response-msg,
  .section-contact .nf-form-cont .nf-response-msg {
    max-width: 900px;
    margin: 0 auto; }
  .surface-contact-section .nf-row + .nf-row,
  .section-contact .nf-form-cont .nf-row + .nf-row {
    margin-top: 2rem; }
  .surface-contact-section .nf-row nf-cells,
  .section-contact .nf-form-cont .nf-row nf-cells {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
            align-items: stretch; }
    .surface-contact-section .nf-row nf-cells .nf-cell,
    .section-contact .nf-form-cont .nf-row nf-cells .nf-cell {
      float: none !important;
      padding: 0 0.6rem !important; }
    .surface-contact-section .nf-row nf-cells .textarea-container,
    .surface-contact-section .nf-row nf-cells .textarea-wrap,
    .surface-contact-section .nf-row nf-cells .nf-field-element,
    .surface-contact-section .nf-row nf-cells .nf-form-content textarea.ninja-forms-field,
    .surface-contact-section .nf-row nf-cells .nf-field-element textarea,
    .section-contact .nf-form-cont .nf-row nf-cells .textarea-container,
    .section-contact .nf-form-cont .nf-row nf-cells .textarea-wrap,
    .section-contact .nf-form-cont .nf-row nf-cells .nf-field-element,
    .section-contact .nf-form-cont .nf-row nf-cells .nf-form-content textarea.ninja-forms-field,
    .section-contact .nf-form-cont .nf-row nf-cells .nf-field-element textarea {
      height: 100% !important;
      margin: 0; }
    .surface-contact-section .nf-row nf-cells .textarea-container .nf-field,
    .section-contact .nf-form-cont .nf-row nf-cells .textarea-container .nf-field {
      height: 100% !important; }
    .surface-contact-section .nf-row nf-cells .nf-field-element textarea,
    .section-contact .nf-form-cont .nf-row nf-cells .nf-field-element textarea {
      height: 85% !important; }
  .surface-contact-section .list-wrap ul li,
  .section-contact .nf-form-cont .list-wrap ul li {
    width: calc( 50% - 0.5rem ); }
  .surface-contact-section .submit-container,
  .section-contact .nf-form-cont .submit-container {
    margin-bottom: 0; }

.section-contact .nf-form-cont {
  margin-left: calc(-100vw / 2 + 900px / 2);
  margin-right: calc(-100vw / 2 + 900px / 2);
  padding: 2rem 1.5rem;
  margin-top: 3rem; }
  @media (max-width: 960px) {
    .section-contact .nf-form-cont {
      margin-left: calc(-100vw / 2 + 100% / 2);
      margin-right: calc(-100vw / 2 + 100% / 2); } }

/* CSS Document */
.page-id-1461 .cities-serviced-listing-container {
  margin-top: 2rem; }
  .page-id-1461 .cities-serviced-listing-container .cities-serviced-listing {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px; }
    .page-id-1461 .cities-serviced-listing-container .cities-serviced-listing .city-item {
      position: relative;
      padding: 0.5rem 1rem 0.5rem 1.25rem; }
      .page-id-1461 .cities-serviced-listing-container .cities-serviced-listing .city-item:before {
        content: "\f3c5";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        position: absolute;
        left: 0;
        top: 0.5rem;
        color: #3b712a; }
.page-id-1461 .county-services-listing {
  display: block;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px; }
  .page-id-1461 .county-services-listing li {
    width: auto; }

.single-area_service .breadcrumb-wrap {
  max-width: 900px;
  width: 100%;
  font-size: 0.8em;
  color: #666;
  margin: -1rem auto 2rem; }
  .single-area_service .breadcrumb-wrap a {
    color: #bbb; }
.single-area_service .city-services-listing-container {
  margin: 2rem 0;
  padding: 2rem;
  background: #fafafa;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }
  .single-area_service .city-services-listing-container .city-services-listing {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: start;
            align-items: flex-start; }
    .single-area_service .city-services-listing-container .city-services-listing .city-service-item {
      position: relative;
      width: 50%;
      padding: 0.5rem 1rem 0.5rem 1.25rem; }
      .single-area_service .city-services-listing-container .city-services-listing .city-service-item:before {
        content: "\f02e";
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        position: absolute;
        left: 0;
        top: 0.5rem;
        color: #3b712a; }
.single-area_service .sidebar-contact-callout {
  padding: 1rem 1rem 0;
  background: #f7f7f7;
  border-radius: 5px; }
  .single-area_service .sidebar-contact-callout h2 {
    margin: 0;
    text-align: center; }
  .single-area_service .sidebar-contact-callout p {
    margin: 1rem 0; }
  .single-area_service .sidebar-contact-callout .sidebar-contact-callout-phone {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0 0 2rem; }
  .single-area_service .sidebar-contact-callout input[type="text"],
  .single-area_service .sidebar-contact-callout input[type="email"],
  .single-area_service .sidebar-contact-callout textarea {
    background: #fff !important; }

/* CSS Document */
.section-surfaces.page-id-3919 .content-area {
  max-width: 900px !important; }
.section-surfaces .content-area {
  max-width: 1120px !important; }
  .section-surfaces .content-area h1,
  .section-surfaces .content-area .page-leadin {
    max-width: 900px; }
  .section-surfaces .content-area h1 {
    margin-bottom: 0;
    line-height: 1; }
  .section-surfaces .content-area .page-leadin {
    padding-bottom: 3rem;
    margin: 0 auto; }

.surface.pets .surface-photo {
  background-position: 90% 50%; }

.page-id-3919 .content-area h1 {
  margin-bottom: 1rem !important; }

.single-surface {
  /* ----- BENEFITS SECTION ----- */
  /* ----- PRODUCT INFO SECTION ----- */
  /* ----- PRODUCT GALLERY SECTION ----- */
  /* ----- PRODUCT GALLERY SECTION ----- */ }
  .single-surface .content-area {
    max-width: 1120px !important; }
    .single-surface .content-area h1 {
      margin-bottom: 0;
      line-height: 1; }
    .single-surface .content-area .page-leadin {
      max-width: 900px;
      padding-bottom: 3rem;
      margin: 0 auto; }
  .single-surface .surface-benefits-section {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
            align-items: stretch; }
    .single-surface .surface-benefits-section .benefits-photo,
    .single-surface .surface-benefits-section .benefits-content {
      width: 50%; }
      @media (max-width: 700px) {
        .single-surface .surface-benefits-section .benefits-photo,
        .single-surface .surface-benefits-section .benefits-content {
          width: 100%; } }
    .single-surface .surface-benefits-section .benefits-photo {
      padding-top: 50%;
      background-size: cover; }
      @media (max-width: 700px) {
        .single-surface .surface-benefits-section .benefits-photo {
          margin-bottom: 2rem; } }
    .single-surface .surface-benefits-section .benefits-content {
      padding: 2rem 0 2rem 2rem; }
      @media (max-width: 700px) {
        .single-surface .surface-benefits-section .benefits-content {
          padding: 0; } }
      .single-surface .surface-benefits-section .benefits-content h2 {
        margin-bottom: 0;
        line-height: 1; }
      .single-surface .surface-benefits-section .benefits-content .benefits-tagline {
        margin-top: 0;
        font-style: italic;
        color: #777;
        font-size: 1.15em; }
      .single-surface .surface-benefits-section .benefits-content h3,
      .single-surface .surface-benefits-section .benefits-content .product-get-started-link-container {
        border-top: 1px solid #ddd;
        padding-top: 1rem; }
      .single-surface .surface-benefits-section .benefits-content h3 {
        margin-bottom: 0.5rem; }
      .single-surface .surface-benefits-section .benefits-content .product-get-started-link-container {
        padding-top: 1.75rem;
        text-align: center; }
      .single-surface .surface-benefits-section .benefits-content ul {
        margin-left: 0.5rem; }
  .single-surface .surface-product-section {
    margin-top: 1rem; }
    @media (max-width: 700px) {
      .single-surface .surface-product-section {
        margin-top: 0; } }
    .single-surface .surface-product-section .product-content {
      padding: 2rem 6.5rem; }
      @media (max-width: 1150px) {
        .single-surface .surface-product-section .product-content {
          padding: 4rem; } }
      @media (max-width: 700px) {
        .single-surface .surface-product-section .product-content {
          padding: 2rem 0; } }
      .single-surface .surface-product-section .product-content h2 {
        line-height: 1; }
      .single-surface .surface-product-section .product-content .product-tagline {
        margin-top: 0;
        font-style: italic;
        color: #777;
        font-size: 1.15em; }
      .single-surface .surface-product-section .product-content .product-description {
        margin: 0 auto; }
      .single-surface .surface-product-section .product-content .product-get-started-link-container {
        border-top: 1px solid #ddd;
        padding-top: 1.75rem;
        margin-top: 1.5rem;
        text-align: center; }
      .single-surface .surface-product-section .product-content .benefits-listing {
        margin-left: 0.5rem; }
  .single-surface .surface-gallery-section .surface-gallery {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: center;
            align-items: center; }
    .single-surface .surface-gallery-section .surface-gallery .surface-gallery-item {
      line-height: 0;
      width: calc( 25% - 1rem );
      margin: 0.25rem;
      position: relative;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      @media (max-width: 700px) {
        .single-surface .surface-gallery-section .surface-gallery .surface-gallery-item {
          width: calc( 33% - 1rem ); } }
      @media (max-width: 560px) {
        .single-surface .surface-gallery-section .surface-gallery .surface-gallery-item {
          width: calc( 50% - 1rem ); } }
      .single-surface .surface-gallery-section .surface-gallery .surface-gallery-item:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        z-index: 1; }
        .single-surface .surface-gallery-section .surface-gallery .surface-gallery-item:hover:after {
          opacity: 0.6; }
      .single-surface .surface-gallery-section .surface-gallery .surface-gallery-item:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #2ecc40;
        background: -webkit-linear-gradient(left, rgba(46, 204, 64, 0.92061) 0%, rgba(46, 204, 64, 0.80016) 35%, rgba(255, 221, 0, 0.44442) 100%);
        background: -webkit-gradient(linear, left top, right top, from(rgba(46, 204, 64, 0.92061)), color-stop(35%, rgba(46, 204, 64, 0.80016)), to(rgba(255, 221, 0, 0.44442)));
        background: linear-gradient(to right, rgba(46, 204, 64, 0.92061) 0%, rgba(46, 204, 64, 0.80016) 35%, rgba(255, 221, 0, 0.44442) 100%);
        z-index: 1;
        opacity: 0;
        pointer-events: none; }
      .single-surface .surface-gallery-section .surface-gallery .surface-gallery-item a {
        display: block;
        line-height: 0; }
        .single-surface .surface-gallery-section .surface-gallery .surface-gallery-item a img {
          width: 100%; }
  .single-surface .surface-contact-section {
    margin-top: 3rem; }
    .single-surface .surface-contact-section h2,
    .single-surface .surface-contact-section .submit-container {
      text-align: center; }

.blog .blog-listing h1,
.archive .blog-listing h1 {
  width: 100%; }
.blog .blog-listing .blog-item + .blog-item,
.archive .blog-listing .blog-item + .blog-item {
  margin-top: 2rem;
  padding-top: 1.25rem;
  border-top: 2px solid #f7f7f7; }
.blog .blog-listing .blog-item .blog-item-content h2,
.archive .blog-listing .blog-item .blog-item-content h2 {
  margin-bottom: 0; }
.blog .blog-listing .blog-item .blog-item-content .blog-article-meta,
.archive .blog-listing .blog-item .blog-item-content .blog-article-meta {
  margin-top: 0;
  font-size: 0.9em;
  color: #bbb;
  font-style: italic; }
  .blog .blog-listing .blog-item .blog-item-content .blog-article-meta .category-item:last-of-type .category-divider,
  .archive .blog-listing .blog-item .blog-item-content .blog-article-meta .category-item:last-of-type .category-divider {
    display: none; }
.blog .blog-listing .blog-item .blog-item-content .blog-article-text,
.archive .blog-listing .blog-item .blog-item-content .blog-article-text {
  margin: 1.5rem 0; }
.blog .blog-listing .blog-item .btn, .blog .blog-listing .blog-item input[type="submit"],
.blog .blog-listing .blog-item input[type="button"],
.blog .blog-listing .blog-item button,
.archive .blog-listing .blog-item .btn,
.archive .blog-listing .blog-item input[type="submit"],
.archive .blog-listing .blog-item input[type="button"],
.archive .blog-listing .blog-item button {
  font-size: 0.9em; }

/* --------------------------------------------- PAGINATION -- */
.blog-pagination {
  padding-top: 4rem;
  text-align: center; }
  .blog-pagination .page-numbers {
    display: inline-block;
    padding: 0.75rem 0.75rem;
    line-height: 1;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    margin: 0 0.25rem; }
    .blog-pagination .page-numbers.current {
      background: #676767;
      background: #3b712a;
      font-weight: bold;
      color: #fff; }
    .blog-pagination .page-numbers.next, .blog-pagination .page-numbers.prev {
      background: #62bb46;
      color: #fff; }
    .blog-pagination .page-numbers:hover {
      background: #ffdd00;
      color: #fff; }

.blog-categories ul, .blog-categories li {
  padding: 0;
  margin: 0;
  list-style: none; }
.blog-categories li + li {
  margin-top: 0.5rem; }
.blog-categories li.current-cat a {
  background: #676767;
  background: #3b712a;
  font-weight: bold;
  color: #fff;
  padding: 0.5rem !important; }
.blog-categories li a {
  display: block;
  padding: 0.5rem 1rem;
  background: #f9fef7;
  background: #fafafa;
  font-weight: 100;
  text-transform: capitalize; }
  .blog-categories li a:hover {
    background: #ffdd00;
    color: #fff; }

/* --------------------------------------------- ALL ARTICLES LINK -- */
.sb-block.all-articles .btn, .sb-block.all-articles input[type="submit"],
.sb-block.all-articles input[type="button"],
.sb-block.all-articles button {
  display: block;
  text-align: center;
  padding: 0.75rem 1rem !important; }

/* --------------------------------------------- SIDEBAR TESTIMONIALS -- */
.sb-testimonial {
  text-align: center;
  background: #f7f7f7;
  padding: 1.5rem; }
  .sb-testimonial .testimonial-item .testimonial-item-pic {
    margin-bottom: 1rem; }
    .sb-testimonial .testimonial-item .testimonial-item-pic img {
      border-radius: 50%; }
  .sb-testimonial .testimonial-item .testimonial-item-author {
    font-weight: bold; }
    .sb-testimonial .testimonial-item .testimonial-item-author + .testimonial-item-date {
      margin-top: 0; }

/* --------------------------------------------- CONTACT CALLOUT -- */
.sb-contact .btn, .sb-contact input[type="submit"],
.sb-contact input[type="button"],
.sb-contact button {
  display: block;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .sb-contact .btn:hover, .sb-contact input[type="submit"]:hover,
  .sb-contact input[type="button"]:hover,
  .sb-contact button:hover {
    padding-left: 1.5rem; }
    .sb-contact .btn:hover .contact-icon, .sb-contact input[type="submit"]:hover .contact-icon,
    .sb-contact input[type="button"]:hover .contact-icon,
    .sb-contact button:hover .contact-icon {
      -webkit-transform: translateY(-0.25rem) rotate(-90deg);
              transform: translateY(-0.25rem) rotate(-90deg); }
    .sb-contact .btn:hover .contact, .sb-contact input[type="submit"]:hover .contact,
    .sb-contact input[type="button"]:hover .contact,
    .sb-contact button:hover .contact,
    .sb-contact .btn:hover .us,
    .sb-contact input[type="submit"]:hover .us,
    .sb-contact input[type="button"]:hover .us,
    .sb-contact button:hover .us {
      padding-left: 0.5rem;
      font-weight: bold !important; }
  .sb-contact .btn .contact-icon, .sb-contact input[type="submit"] .contact-icon,
  .sb-contact input[type="button"] .contact-icon,
  .sb-contact button .contact-icon {
    font-size: 2em;
    padding-right: 0.5rem;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .sb-contact .btn .contact-text, .sb-contact input[type="submit"] .contact-text,
  .sb-contact input[type="button"] .contact-text,
  .sb-contact button .contact-text {
    line-height: 1.25; }
    .sb-contact .btn .contact-text .contact-text-section, .sb-contact input[type="submit"] .contact-text .contact-text-section,
    .sb-contact input[type="button"] .contact-text .contact-text-section,
    .sb-contact button .contact-text .contact-text-section {
      font-size: 1.75em; }
      .sb-contact .btn .contact-text .contact-text-section.contact, .sb-contact input[type="submit"] .contact-text .contact-text-section.contact,
      .sb-contact input[type="button"] .contact-text .contact-text-section.contact,
      .sb-contact button .contact-text .contact-text-section.contact {
        -webkit-transition: 0.3s;
        transition: 0.3s; }
      .sb-contact .btn .contact-text .contact-text-section.us, .sb-contact input[type="submit"] .contact-text .contact-text-section.us,
      .sb-contact input[type="button"] .contact-text .contact-text-section.us,
      .sb-contact button .contact-text .contact-text-section.us {
        font-size: 1.5em;
        font-weight: 100;
        -webkit-transition: 0.3s;
        transition: 0.3s; }

.single-post h1 {
  margin-bottom: 0; }
  .single-post h1 + .blog-article-meta {
    margin: 0 0 2rem;
    color: #bbb;
    font-style: italic;
    padding-right: 1rem; }
    .single-post h1 + .blog-article-meta .category-item:last-of-type .category-divider {
      display: none; }
.single-post .blog-article-social-share {
  margin-top: 2rem; }

/*# sourceMappingURL=all.css.map */