
// ---------------------------------------------------------------------------------
// ----- LANDING PAGE --------------------------------------------------------------
// ---------------------------------------------------------------------------------
.blog,
.archive {
	.blog-listing {
		h1 {
			width: 100%;
			//margin-bottom: 0;
		}

		.blog-item {
			& + .blog-item {
				margin-top: 2rem;
				padding-top: 1.25rem;
				border-top: 2px solid #f7f7f7;
			}


			.blog-item-content {
				h2 {
					margin-bottom: 0;
				}

				.blog-article-meta {
					margin-top: 0;
					font-size: 0.9em;
					color: #bbb;
					font-style: italic;

					.category-item:last-of-type {
						.category-divider {
							display: none;
						}
					}
				}

				.blog-article-text {
					margin: 1.5rem 0;
				}
			}

			.btn {
				font-size: 0.9em;
			}
		}
	}
}

/* --------------------------------------------- PAGINATION -- */
.blog-pagination {
	padding-top: 4rem;
	text-align: center;

	.page-numbers {
		display: inline-block;
		padding: 0.75rem 0.75rem;
		line-height: 1;
		box-shadow: 0 3px 5px rgba(0,0,0, 0.1);
		margin: 0 0.25rem;

		&.current {
			background: #676767;
			background: darken($brand, 20);
			font-weight: bold;
			color: #fff;
		}

		&.next,
		&.prev {
			background: $brand;
			color: #fff;
		}

		&:hover {
			background: $brand-alt;
			color: #fff;
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- SIDEBAR CATS --------------------------------------------------------------
// ---------------------------------------------------------------------------------
.blog-categories {
	ul, li {
		padding: 0;
		margin: 0;
		list-style: none;
	}

	li {
		& + li {
			//border-top: 1px solid #b8cc82;
			margin-top: 0.5rem;
		}

		&.cat-item-13,
		&.cat-item-1 {
			//display: none;
		}

		&.current-cat {
			a {
				background: #676767;
				background: darken($brand, 20);
				font-weight: bold;
				color: #fff;
				padding: 0.5rem !important;
			}
		}

		a {
			display: block;
			padding: 0.5rem 1rem;
			background: #f9fef7;
			background: #fafafa;
			font-weight: 100;
			text-transform: capitalize;

			&:hover {
				background: $brand-alt;
				color: #fff;
			}
		}
	}
}


/* --------------------------------------------- ALL ARTICLES LINK -- */
.sb-block.all-articles {
	.btn {
		display: block;
		text-align: center;
		padding: 0.75rem 1rem !important;
	}
}


// ---------------------------------------------------------------------------------
// ----- INDIVIDUAL ARTICLE PAGE ---------------------------------------------------
// ---------------------------------------------------------------------------------
.single-post {
	h1 {
		margin-bottom: 0;

		& + .blog-article-meta {
			margin: 0 0 2rem;
			//font-size: 0.95em;
			color: #bbb;
			font-style: italic;
			padding-right: 1rem;

			.category-item:last-of-type {
				.category-divider {
					display: none;
				}
			}
		}
	}

	.blog-article-social-share {
		margin-top: 2rem;
	}
}

