
// ---------------------------------------------------------------------------------
// ----- TOP NAV -------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.header-menu {
	@media (max-width: 700px) {
		display: none;
	}

	ul,
	ul li {
	}

	ul li {

		a {
			padding: 0.5rem 0.75rem;
			border-radius: 5px;
		}

		&:hover a {
			background: $brand;
			color: #fff;
		}

		&.header-menu-site-logo {
			&:hover a {
				background: none;
			}
		}

		&.current-menu-item {
			> a {
				border-bottom: 5px solid darken($brand, 20);
				color: darken($brand, 20);
				border-radius: 0 !important;
			}
		}

		&.menu-item-has-children {
			position: relative;

			> a {
				border-radius: 5px 5px 0 0;
			}

			ul {
				display: none;
				position: absolute;
				top: 100%;
				transform: translateY(3px);
				left: 0;

				li {
					display: block;
					width: 15em;

					&.header-menu-site-logo {
						display: none;
					}

					&.current-menu-item {
						> a {
							background: darken($brand, 20);
							border-bottom: 5px;
							color: #fff;
						}
					}

					&:first-of-type {
						a {
							border-radius: 0 5px 0 0;
						}
					}

					&:last-of-type {
						a {
							border-radius: 0 0 5px 5px;
						}
					}

					a {
						display: block;
						background: $brand;
						color: #fff;
						padding: 0.5rem;
						border-radius: 0;

						&:hover {
							background: $brand-alt;
						}
					}
				}
			}

			&:hover ul {
				display: block;
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- FOOTER NAV ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.footer-nav {
}


// ---------------------------------------------------------------------------------
// ----- MOBILE NAV ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.mobile-nav-btns,
.mobile-nav {
	display: none;
}

.mobile-nav-btns {
	margin-top: 0;
	//position: absolute;
	top: 0.5rem;
	right: 2rem;
	font-size: 1.5em;

	@media (max-width: 700px) {
		display: block;
		position: absolute;
		top: 50%;
		right: 2rem;
		transform: translateY(-50%);
	}
}

.mobile-nav {
	//background: #f4f4f4;

	 ul,
	 li {
	 	margin: 0;
	 	padding: 0;

	 	li {
	 		border-bottom: 1px solid lighten($brand, 35);

	 		& + li {
				//border-top: 1px solid lighten($brand, 35);
	 		}

	 		a {
	 			display: block;
				padding: 0.5rem 0.5rem;
	 		}
	 	}
	 }
}