
// ---------------------------------------------------------------------------------
// ----- TOP NAV -------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.header-menu {
	@media (max-width: 700px) {
		display: none;
	}

	ul,
	ul li {
	}

	ul li {

		a {
		}

		&:hover a {
		}

		&.current-menu-item a {
			padding-bottom: 0.25rem;
			border-bottom: 4px solid darken($brand, 20);
			color: darken($brand, 20);
		}

		&.menu-item-has-children {
			position: relative;

			ul {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;

				li {
					display: block;
					width: 15em;

					a {
						display: block;

						&:hover {
						}
					}
				}
			}

			&:hover ul {
				display: block;
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- FOOTER NAV ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.footer-nav {
}


// ---------------------------------------------------------------------------------
// ----- MOBILE NAV ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.mobile-nav-btns,
.mobile-nav {
	display: none;
}

.mobile-nav-btns {
	margin-top: 0;
	position: absolute;
	top: 0.5rem;
	right: 2rem;
	font-size: 1.5em;

	@media (max-width: 700px) {
		display: block;
	}
}

.mobile-nav {
	background: #f4f4f4;

	 ul,
	 li {
	 	margin: 0;
	 	padding: 0;

	 	li {
	 		& + li {
				border-top: 1px solid lighten($brand, 35);
	 		}

	 		a {
	 			display: block;
				padding: 0.5rem 0.5rem;
	 		}
	 	}
	 }
}