@import 'compass/css3';
@import 'bits';

/* CSS Document */
// ---------------------------------------------------------------------------------
// ----- LANDING PAGE --------------------------------------------------------------
// ---------------------------------------------------------------------------------
.section-surfaces {
	.content-area {
		h1,
		.page-leadin {
			text-align: center;
		}

		h1 {
			margin-bottom: 0;
		}

		.page-leadin {
			padding: 3rem 0;
		}

		.surfaces-landing-listing {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: stretch;

			.surface {
				width: calc( 50% - 1rem );
				margin: 0.25rem;
				position: relative;
				transition: 0.3s;

				&:after,
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					height: 100%;
					width: 100%;
				}

				&:after {
					background: rgb(46,204,64);
					background: -webkit-linear-gradient(left, rgba(46,204,64,0.9206057422969187) 0%, rgba(46,204,64,0.80015756302521) 35%, rgba(255,221,0,0.44441526610644255) 100%);
					background: -o-linear-gradient(left, rgba(46,204,64,0.9206057422969187) 0%, rgba(46,204,64,0.80015756302521) 35%, rgba(255,221,0,0.44441526610644255) 100%);
					background: linear-gradient(to right, rgba(46,204,64,0.9206057422969187) 0%, rgba(46,204,64,0.80015756302521) 35%, rgba(255,221,0,0.44441526610644255) 100%);
					z-index: 1;
					opacity: 0.75;
				}

				&:before {
					background: #000;
					transition: 0.3s;
					z-index: 2;
					opacity: 0.25;
				}

				&:hover {
					transform: scale(1.075);
					z-index: 4;

					&:before {
						opacity: 0.5;
					}

					.surface-content {
						.surface-name {
							top: 43%;
						}

						.surface-description {
							top: 50%;
							opacity: 1 !important;
						}
					}
				}

				.surface-link-container {
					line-height: 0;
					margin: 0;

					.surface-link {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 6;
					}
				}

				.surface-photo {
					line-height: 0;
				}

				.surface-content {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					color: #fff;
					text-shadow: 2px 2px 7px rgba(4,4,4, 0.75);
					z-index: 3;
					text-align: center;

					p {
						margin: 0;
						transition: 0.3s;
						//transform: translateY(1rem);

						&.surface-name {
							font-size: 1.35em;
							font-weight: bold;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%,-50%);
						}

						&.surface-description {
							font-weight: 100;
							opacity: 0;
							position: absolute;
							top: 55%;
							left: 50%;
							transform: translateX(-50%);
						}
					}
				}
			}
		}
	}
}












