@import 'compass/css3';
@import 'bits';

/* CSS Document */
// ---------------------------------------------------------------------------------
// ----- LANDING PAGE --------------------------------------------------------------
// ---------------------------------------------------------------------------------
.section-surfaces {
	.content-area {
		max-width: 1120px !important;

		h1,
		.page-leadin {
			text-align: center;
		}

		h1 {
			margin-bottom: 0;
		}

		.page-leadin {
			padding: 3rem 0;
			max-width: 900px;
			margin: 0 auto;
		}

		.surfaces-landing-listing {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: stretch;

			.surface {
				width: calc( 50% - 1rem );
				margin: 0.25rem;
				position: relative;
				transition: 0.3s;

				&:after,
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					height: 100%;
					width: 100%;
				}

				&:after {
					background: rgb(46,204,64);
					background: -webkit-linear-gradient(left, rgba(46,204,64,0.9206057422969187) 0%, rgba(46,204,64,0.80015756302521) 35%, rgba(255,221,0,0.44441526610644255) 100%);
					background: -o-linear-gradient(left, rgba(46,204,64,0.9206057422969187) 0%, rgba(46,204,64,0.80015756302521) 35%, rgba(255,221,0,0.44441526610644255) 100%);
					background: linear-gradient(to right, rgba(46,204,64,0.9206057422969187) 0%, rgba(46,204,64,0.80015756302521) 35%, rgba(255,221,0,0.44441526610644255) 100%);
					z-index: 1;
					opacity: 0.75;
				}

				&:before {
					background: #000;
					transition: 0.3s;
					z-index: 2;
					opacity: 0.25;
				}

				&:hover {
					transform: scale(1.075);
					z-index: 4;

					&:before {
						opacity: 0;
					}

					&:after {
						@include background-image(linear-gradient(to top, darken($brand-alt, 10) 30%, rgba(darken($brand-alt, 10), 0.5) 75%));
					}

					.surface-content {
						.surface-name {
							top: 43%;
						}

						.surface-description {
							top: 50%;
							opacity: 1 !important;
						}
					}
				}

				.surface-link-container {
					line-height: 0;
					margin: 0;

					.surface-link {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						z-index: 6;
					}
				}

				.surface-photo {
					line-height: 0;

					img {
						width: 100%;
						max-width: none;
					}
				}

				.surface-content {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					color: #fff;
					text-shadow: 2px 2px 7px rgba(4,4,4, 0.75);
					z-index: 3;
					text-align: center;

					p {
						margin: 0;
						transition: 0.3s;
						//transform: translateY(1rem);

						&.surface-name {
							font-size: 1.35em;
							font-weight: bold;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%,-50%);
						}

						&.surface-description {
							font-weight: 100;
							opacity: 0;
							position: absolute;
							top: 55%;
							left: 50%;
							transform: translateX(-50%);
						}
					}
				}
			}
		}
	}
}

// ---------------------------------------------------------------------------------
// ----- INDIVIDUAL SURFACE PAGE ---------------------------------------------------
// ---------------------------------------------------------------------------------
.section-surfaces {
	.content-area {

	}
	/* ----- BENEFITS SECTION ----- */
	.surface-benefits-section {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;

		.benefits-photo,
		.benefits-content {
			width: 50%;
		}

		.benefits-photo {
			padding-top: 50%;
			background-size: cover;
		}

		.benefits-content {
			padding: 2rem 0 2rem 2rem;

			h2 {
				margin-bottom: 0;
				line-height: 1;
			}

			.benefits-tagline {
				margin-top: 0;
				font-style: italic;
				color: #777;
				font-size: 1.15em;
			}

			h3,
			.product-get-started-link-container {
				border-top: 1px solid #ddd;
				padding-top: 1rem;
			}

			h3 {
				margin-bottom: 0.5rem;
			}

			.product-get-started-link-container {
				padding-top: 1.75rem;
			}

			.benefits-listing {
				margin-left: 0.5rem;
			}
		}
	}

	/* ----- PRODUCT INFO SECTION ----- */
	.surface-product-section {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-top: 1rem;

		.product-photo,
		.product-content {
			width: 50%;
		}

		.product-photo {

		}

		.product-content {
			padding: 2rem 2rem 2rem 0;

			h2 {
				margin-bottom: 0;
				line-height: 1;
			}

			.product-tagline {
				margin-top: 0;
				font-style: italic;
				color: #777;
				font-size: 1.15em;
			}

			.product-get-started-link-container {
				border-top: 1px solid #ddd;
				padding-top: 1.75rem;
				margin-top: 1.5rem;
			}

			.benefits-listing {
				margin-left: 0.5rem;
			}
		}
	}

	/* ----- PRODUCT GALLERY SECTION ----- */
	.surface-gallery-section {
		.surface-gallery {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			.surface-gallery-item {
				line-height: 0;
				width: calc( 25% - 1rem );
				margin: 0.25rem;
			}
		}
	}

	/* ----- PRODUCT GALLERY SECTION ----- */
	.surface-contact-section {
		margin-top: 2rem;
	}
}




































